.data-opt {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    color: blue;
    /* background: blue; */
}

.data-section {
    box-shadow: rgba(30, 30, 30, 0.2) 0px 18px 50px -10px;
    border-radius: 2px;
    border: 2px solid rgb(138, 136, 136);
    height: 2em;
    margin-top: 20px;
}