.footer{
  background: #0e0494;
  height: calc(100vh - 70px);
  color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.edbn, div.services, div.social-media{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
}

.design{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
}

@media screen and (max-width: 1024px){

  .contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  div.edbn, div.services, div.social-media{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
  }
}