.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    height: 70px;
    padding: 5px;
    margin: 0;
    width: 100%; 
    position: fixed; 
    z-index: 888; 

}

.logo{
    margin: 5px;
    color: rgb(50, 50, 179);
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    color: black;
    
    

}

.about-link {
    margin: 20px;
}
.training-link {
    margin: 20px;
}

.data-link{
    margin: 20px;
   
}


.signup {
    border: 2px solid rgb(50, 50, 179);
    border-radius: 10px;
    margin: 20px;
    padding: 5px 15px 15px 15px;
    font-size: 0.8rem;
    color: rgb(50, 50, 179);
    height:5px;
    text-align: center;
    cursor: pointer;
}

.login {
    border: 2px solid rgb(50, 50, 179);
    background: rgb(50, 50, 179);
    border-radius: 10px;
    margin: 20px;
    padding: 5px 15px 15px 15px;
    font-size: 0.8rem;
    color: rgb(247, 247, 250);
    height:5px;
    text-align: center;
    cursor: pointer;
}


