
.about-container {
    max-width: 800px;
    padding: 60px;
    margin: 0 auto;
   
    
  }
  
.about-title {
    font-size: 28px;
    
    
  }
  
.about-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  