body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing:grayscale;
    height: 100vh;
}

code {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;

}

* {
    box-sizing: border-box;
}

